<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tag</key>
		<integer>0</integer>
		<key>Icon</key>
		<string>customize</string>
		<key>name</key>
		<string>自定义</string>
	</dict>
	<dict>
		<key>tag</key>
		<integer>1</integer>
		<key>Icon</key>
		<string>conference</string>
		<key>name</key>
		<string>会议</string>
	</dict>
	<dict>
		<key>tag</key>
		<integer>2</integer>
		<key>Icon</key>
		<string>engagement</string>
		<key>name</key>
		<string>约会</string>
	</dict>
	<dict>
		<key>tag</key>
		<integer>3</integer>
		<key>Icon</key>
		<string>birthday</string>
		<key>name</key>
		<string>生日</string>
	</dict>
	<dict>
		<key>tag</key>
		<integer>4</integer>
		<key>Icon</key>
		<string>commemorationDay</string>
		<key>name</key>
		<string>纪念日</string>
	</dict>
	<dict>
		<key>tag</key>
		<integer>5</integer>
		<key>Icon</key>
		<string>flight</string>
		<key>name</key>
		<string>航班</string>
	</dict>
	<dict>
		<key>tag</key>
		<integer>6</integer>
		<key>Icon</key>
		<string>WaterAndElectricityFee</string>
		<key>name</key>
		<string>水电费</string>
	</dict>
	<dict>
		<key>tag</key>
		<integer>7</integer>
		<key>Icon</key>
		<string>train</string>
		<key>name</key>
		<string>火车</string>
	</dict>
	<dict>
		<key>tag</key>
		<integer>8</integer>
		<key>Icon</key>
		<string>withholding</string>
		<key>name</key>
		<string>扣款日</string>
	</dict>
	<dict>
		<key>tag</key>
		<integer>9</integer>
		<key>Icon</key>
		<string>Reservation</string>
		<key>name</key>
		<string>预约</string>
	</dict>
</array>
</plist>
